{% extends 'enrtry.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login() }}<br>
            {% for error in form.login.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password() }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
{% endblock %}